body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  color: gray;
  text-align: center;
}

@font-face {
  font-family: "MoonTime";
  src: url("moon/MoonTime-Regular.otf") format("opentype");
  font-weight: 400;
}

h2 {
  line-height: 1.5;
  font-size: 3rem;
  font-family: "MoonTime";
  color: rgb(209, 113, 34);
}


h6 {
  font-weight: bold;
}

i {
  padding-left: 10px;
  position:relative;
  top: 2px;
}

span {
 padding: 2% 3% 2% 0;
 text-align: left;
}

span:hover {
  color: black;
}

a {
  text-decoration: none;
  color: gray;
}

a:hover {
  color: black;
}

i:hover {
  color: black;
}
p {
  margin-bottom: 0;
}



/* title section */

.row {
 --bs-gutter-x: 0;
}


.container {
  margin: 0;
}

.title-block {
  position: relative;
  padding: 50px 0 50px;
  left: 10%;
  width: 50%;
}
.title-image {
  width: 40%;
}

.mission {
  position: relative;
  width: 50%;
  padding: 31%  5% 5% 10%;
  text-align: left;
}


.tel {
  text-align: left;
  padding: 5% 3%;
}

.profile-image {
  width: 30%;
  float: right;
  position: absolute;
  bottom: 4px;
  right: 80px;
  padding: 3% 3% 0 10%;
}

.icon {
    color: rgb(209, 113, 34);
}


/* HEADING SECTION */


.heading-container {
  position: relative;
  text-align: center;
  padding: 5% 0 0 0;
}
.reviews {
  position:absolute;
  top: 10%;
}

.heading-title {
  font-size: 4rem;
  position: absolute;
  top: 10%;
  right: 30%;
  padding: 2%;
}
.contact-info {
  position: absolute;
  bottom: 50px;

}
.heading-subtitle {
  position: absolute;
  top: 22%;
  right: 40%;
  font-size: 2rem;
  padding: 3% 2% 0;
}
.heading-text {
  position: absolute;
  width: 50%;
  text-align: center;
  top: 30%;
  right: 25%;
  padding: 2%;
}
.heading-p {
  position: relative;
  padding-top: 5%;
  top: 20%;
}

.heading-image {
  width: 100%;
}



/* possibilities1 section */


.possibilities1 {
  background-color:#dfc0b1;
  margin-top: 10%;
  padding-bottom: 3%;
}

.poss-title {
  color: #858687;
  margin-top: 4%;
  padding: 2% 3% 0;
  font-size: 4rem;

}

.poss1 {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
 grid-template-rows: auto;
 padding: 0 5%;
}

.poss2 {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
 grid-template-rows: auto;
 padding: 0 3%;
}

.poss1-img {
  width: 200px;
  height: 250px;
  border-style: solid;
  border-color: white;
}

.img-div {
  padding: 20px;
}


/* possibilities2 section */


.img-div2 {
  padding: 5px;
}
.poss2-img {
  width: 200px;
  height: 200px;
}
.poss2p {
  color: white;
  padding-top: 5%;
}
.possibilities2 {
  background-color:#dfc0b1;
  margin-top: 10%;
}

/* rentals section */


.rentals1 {
 padding: 1% 5%;
 display: flex;
 justify-content: space-between;
  text-align: center;
}
.rentals2 {
   padding: 1% 5%;
   display: flex;
   justify-content: space-between;
   text-align: center;
}

.rentals-title {
  color: gray;
  font-size: 4rem;
}
.img-div3 {
  padding: 15px;
}


/* services section */


.services-div {
  background-color:#efddd3;
  margin-top: 10%;
}


.services-title {
  color: #7d8286;
  margin-top: 4%;
  font-size: 5rem;
}

.serv1 {
 padding: 1% 3%;
 display: flex;
}


.services1-img {
  width: 150px;
  height: 150px;
  text-align: left;

}
.services-images {
  display:inline-flex;
}
.services-paragraph {
position: absolute;

}


.servicesp {
  text-align: left;
  padding: 2% 1% 2% 0;
  color: #7d8286;
}

.servicesp-bottom {
  text-align: left;
  padding: 2% 1% 1% 3%;
  color: #7d8286;
}


.services-block {
  padding-right: 1%;
}

/* reviews section */

.reviews-bg {
  position:relative;
  width: 100%;
  padding: 3% 0 1% 0;
}
.reviews-image {
  width: 100%;
}

.reviews-header {
  font-size: 4rem;
  color: gray;
  position: absolute;
  text-align: center;
  top: 50px;
  left: 40%;
}

.review-container {
  text-align: left;
  position: absolute;
  top: 150px;
}

.review1 {
  width: 50%;
  display:inline-block;
  justify-content:flex-start;
  padding: 0 3%;
  position:relative;
  bottom: 10px;
}

.review2 {
  width: 50%;
  display:inline-block;
}

.review-segment {
  padding: 4% 3%;
}


/* footer section */



.footer-contact {
  padding: 1% 2%;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.web-design-link {
  text-align: right;
}
.copyright {
  padding-right: 1%;
}

.webdesign {
  font-size: 0.8rem;
}


/* responsive section */


/* tablet size */

@media (max-width: 900px) {
 .title-block {
   width: 100%;
   position: relative;
   left: 0px;
 }
 .title-image {
   width: 40%;
 }
 .profile-image {
   width: 35%;
   right: 0;
 }
 .heading-image {
   width: 100%;
   height: 700px;
 }
 .heading-title {
   right: 13%;
 }
 .heading-subtitle {
   right: 32%;
 }

 .poss1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  padding: 0 5%;
 }
 .poss2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  padding: 0 5%;
 }

.rentals1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  padding: 0 5%;
}

.rentals2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  padding: 0 5%;
}
.serv1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  padding: 0 5%;
}

 .reviews-image {
   height: 900px;
 }

 .reviews-header {
   left: 30%;
 }

}


/* smartphone size */
@media (max-width: 479px) {

  .title-block {
    position: relative;
    width: 80%;

  }
  .title-image {
    width: 50%;
    position: relative;
  }
  .mission {
    width: 100%;
    position: relative;
    padding:10%;
  }
  .contact-info {
    position: relative;
    left: 1%;
  }
  .profile-image {
    position: relative;
    right: 20px;
    bottom: 64px;
  }

  h2 {
    text-align: left;
    position: relative;
    font-size: 3rem;
  }
  a {
    text-align: left;
  }
  .poss-title {
    font-size: 3rem;
    text-align: center;
    padding-top: 5%;
  }
  .poss1 {
   display: inline;
  }
  .poss2 {
    display: inline;
  }
  .heading-container {
    position: relative;
    bottom: 100px;
    text-align: left;
    padding: 2%;
    background-color: #f4eae4;
  }
  .heading-image {
    visibility: hidden;
  }
  .heading-title {
    font-size: 3rem;
    position: absolute;
    top: 1%;
    left: 5%;
    right: 2%;
 }

  .heading-subtitle {
   text-align: left;
   font-size: 1.5rem;
   position: absolute;
   top: 22%;
  }

  .heading-text {
    background-color: #f4eae4;
    width: 100%;
    top: 27%;
    text-align: left;
    right: 1px;
    padding-left: 5%;
  }
  .possibilities1 {
    position: relative;
    bottom: 50px;
    margin-top: 0;
  }
  .rentals-title {
    font-size: 3rem;
    left: 10px;
    text-align: center;
  }
  .rentals1 {
    position: relative;
    display: inline;
  }
  .rentals2 {
    position: relative;
    display: inline;
  }
  .services-div {
    position: relative;
  }
  .serv1 {
    display: inline;
  }
  .services-title {
    font-size: 3rem;
    text-align: center;
    padding-top: 5%;
    margin: 0;
    left: 15px;
  }
  .services-block {
    padding: 3%;
  }
.servicesp {
  text-align: center;
}
.servicesp-bottom {
  text-align: center;
}

  #reviews {
    position: relative;
    top: 50px;
    background-color: #f4eae4;
  }

  .reviews-image {
    visibility: hidden;
  }
  .reviews-header {
    font-size: 3rem;
    top: 20px;
    left: 90px;
  }
  .review-container {
    background-color: #f4eae4;
  }
  .review1 {
    width: 100%;
    padding: 0 5%;
  }
  .review2 {
    width: 100%;
  }
 /* footer section */
 #footer {
   position: relative;
   top: 660px;
 }

 .copyright {
   position: absolute;
   bottom: 10px;
 }

}







/*  text colour rgb(209, 113, 34); */
/* background-color: #d99879;
background color: #d8c3b5;
