body {
  font-family: 'Roboto Condensed', sans-serif;
  color: gray;
  text-align: center;
  margin: 0;
}

/* title section */

.container-fluid {
  padding-bottom: 5%;
}

h2 {
  line-height: 1.5;
  font-size: 3rem;
  color: rgb(209, 113, 34);
  font-family: Moontime;
  font-weight: 400;
}

.title-block {
  position: relative;
  padding: 50px 50px;
  width: 50%;
}

i {
  padding: 10px;
}

.mission {
  position: relative;
  width: 50%;
  padding: 31%  5% 5% 10%;
  text-align: left;
}

span {
 padding: 2% 3% 2% 0;
 text-align: left;
}

span:hover {
  color: black;
}

.tel {
  text-align: left;
  padding: 5% 3%;
}

.profile-image {
  width: 15%;
  float: right;
  position: absolute;
  bottom: 100px;
  padding: 3%;
}

a {
  text-decoration: none;
  color: gray;
}

a:hover {
  color: black;
}

i:hover {
  color: black;
}
p {
  margin-bottom: 0;
}

.icon {
    color: rgb(209, 113, 34);

}


/* footer section */
.footer-contact {
  padding: 1% 7% 1%;
  display: inline-block;
}

p .web-design-link {
  font-size: 0.5;
  text-align: right;
}

/*  text colour rgb(209, 113, 34); */
